body{
margin:0;
font-family:sans-serif;
overflow:hidden;
background:linear-gradient(180deg,#ffe4ef,#ffd6e7,#ffc1d6);
}

.scene{
position:fixed;
inset:0;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
opacity:0;
transition:.7s;
pointer-events:none;
}
.scene.active{opacity:1;pointer-events:auto;}

.giftBox{
font-size:90px;
animation:shake 1.5s infinite;
cursor:pointer;
}
@keyframes shake{
0%{transform:rotate(0)}
50%{transform:rotate(5deg)}
100%{transform:rotate(0)}
}

.cakeBox{position:relative;width:120px;height:100px;}
.cake{width:100%;height:80px;background:#5c2c2c;border-radius:10px;}
.flame{
position:absolute;top:-20px;left:50%;
transform:translateX(-50%);
width:10px;height:20px;background:orange;
border-radius:50%;display:none;
}

.storyBox{
background:#ffffffdd;
padding:20px;border-radius:20px;
width:90%;max-height:70vh;
overflow:auto;
}
#storyText{line-height:2.3;white-space:pre-line;}

.card{
background:#fff;padding:15px;
border-radius:20px;width:85%;
}
.card img{width:100%;border-radius:15px;}

button{
margin-top:10px;
padding:10px 18px;
border:none;border-radius:12px;
background:#ff4d88;color:white;
}

.yt{
position:fixed;
bottom:20px;
left:50%;
transform:translateX(-50%);
}

canvas{
position:fixed;
inset:0;
z-index:-1;
}
