body{
margin:0;
font-family:sans-serif;
background:linear-gradient(180deg,#fff,#ffd6e7);
overflow:hidden;
text-align:center;
}

.scene{
position:fixed;
inset:0;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
opacity:0;
pointer-events:none;
transition:1s ease;
}

.scene.active{
opacity:1;
pointer-events:auto;
}

/* 🎁 */
.gift{
font-size:110px;
cursor:pointer;
animation:float 2s infinite alternate ease-in-out;
}

@keyframes float{
from{transform:translateY(0)}
to{transform:translateY(-15px)}
}

/* 🎂 */
#cakeBox{
position:relative;
font-size:90px;
}

#candle{
position:absolute;
top:-30px;
left:50%;
transform:translateX(-50%);
cursor:pointer;
}

#knife{
position:absolute;
top:40px;
left:10px;
display:none;
font-size:40px;
}

/* 📰 */
.scroll{
overflow:auto;
}

#storyText{
width:85%;
background:#fff;
padding:20px;
border-radius:15px;
line-height:2.2;
white-space:pre-line;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* زر */
#readBtn{
margin-top:15px;
padding:10px 18px;
border:none;
background:#ff4d88;
color:#fff;
border-radius:10px;
}
